@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #0A1628;
  background: #F8F9FA;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
